.app-container {
  font-family: monospace;

}

#app {
  display: flex;
}

.game {
  padding: 50px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  height: 100vh; 
  width: 80%;
}

.game-board {
  height: 300px;
  padding: 25px;
  width: 50%;
  min-width: 300px;
}

.left-panel {
  flex-direction: column;
  padding: 25px;
  width: 50%;

}

.charts {
  justify-content: center;
  flex-direction: column;
}

.board-row {
  height: 100px;
}

.board-row button.square {
  width: 100px;
  height: 100px;
  float: left;
}

button.square[data-pro="X"] {
  /*remove text from button*/
  text-indent: -9000px; 
  text-transform: capitalize;
  /* background-image: url('../src/assets/red.gif'); */
  background-image: url('http://giphygifs.s3.amazonaws.com/media/jQS9YkJXofyeI/giphy.gif');
  background-size: 100%; 
}

button.square[data-pro="O"] {
  text-indent: -9000px; 
  text-transform: capitalize;
  /* background-image: url('../src/assets/blue.gif'); */
  background-image: url('https://i.giphy.com/media/5kFbMBOEdWjg1nItoG/giphy.gif');
  background-size: 100%; 
}

#back-button {
  margin-top: 25px;
  margin-left: 30px;
  height: 30px;
  width: 50px;
  font-family: monospace;
  font-size: medium;
  background-color: whitesmoke;
  border: 1px solid gray;
}

